
<header class="header container-fluid">
    <div class="d-flex justify-content-between align-items-center header-container" style="margin: auto;">
        <div class="header-left-side justify-content-between d-flex">
            <a href="./index.html">
                <img src="images/kas karak logo.png" class="header-logo" height="140px" alt="logo">
            </a>
            <nav class="temp3 align-items-center mx-4 header-nav-container">
                <div class="container temp2 align-items-center">
                    <!-- note that there's a ul for the sidBar too -->
                    <ul class="header-nav flex-nowrap temp1">
                        <a routerLink="/main">
                            <li>
                                <img src="images/Home_light -.png" width="22px">
                                    الرئيسية
                            </li>
                        </a>
                        <a routerLink="/menu">
                            <li class="active">
                                <img src="images/notebook_light.png" width="22px">
                                قائمة الطعام
                            </li>
                        </a>
                        <a routerLink="/branches">
                            <li>
                                <img src="images/Pin_alt_light.png" width="22px">
                                الفروع
                            </li>
                        </a>
                        <a routerLink="/contact">
                            <li >
                                <img src="images/Phone_light.png" width="22px">
                                تواصل معنا
                            </li>
                        </a>
                        <a routerLink="/worktime">
                            <li >
                                <img src="images/Clock_light.png" width="22px">
                                مواعيد العمل
                            </li>
                        </a>
                        <a routerLink="/about">
                            <li>
                                <img src="images/info_light.png" width="22px">
                                لوحة التحكم
                            </li>
                        </a>

                    </ul>
                </div>
            </nav>
        </div>
        <div style="text-align: center;" class="contact-number">
            <div>
                <img src="images/Component.png" width="25px">
                <span style="font-weight: bolder;">للحجز المسبق</span>
            </div>
            <a href="tel:8123999950">8123999950</a>
        </div>
        <button class="menu-toggle" onclick="toggleSidebar()"><i class="fa-solid fa-bars"></i></button>
    </div>
</header>

<!-- SideBar -->

<div class="sidebar">
<div class="d-flex flex-row-reverse justify-content-between mb-3">
    <button type="button" class="btn-close" aria-label="Close" onclick="toggleSidebar()"></button>
</div>
<div class="w-100 d-flex justify-content-center">
    <a href="./index.html" class="logo d-flex justify-content-center align-items-center">
        <img src="images/kas karak logo.png" height="180px" alt="logo">
    </a>        
</div>
<ul class="mt-3">
    <a routerLink="/main" class=" test">
    <li>
        <i class="fas fa-home"></i>
        الرئيسية
        </li>
    </a >
    <a routerLink="/menu" class=" test">
    <li class="active">
        <i class="fas fa-utensils"></i>
        قائمة الطعام
    </li>
    </a>
    <a routerLink="/branches" class=" test">
    <li>
        <i class="fas fa-map-marker-alt"></i>
        الفروع
    </li>
    </a>
    <a routerLink="/contact" class=" test">
    <li>
        <i class="fa-solid fa-mobile-screen-button"></i>
        تواصل معنا
    </li>
    </a>
    <a routerLink="/worktime" class=" test">
    <li>
        <i class="fas fa-clock"></i>
        مواعيد العمل
    </li>
    </a>
    <a routerLink="/about" class=" test">
    <li>
        <i class="fas fa-info-circle"></i>
        لوحة التحكم
    </li>
    </a>
</ul>
</div>




<div class="container-fluid p-0" style="transform: translateY(20px);">
    <div class="row d-flex images-main-container">
      
        <div class="col-6 p-0">
          <div class="right-side-content">
               <div class="right-side-content-centered-text">
                <i class="fas fa-utensils"></i>
                <h2 class="d-inline">قائمة الطعام</h2>
              </div>
            <img src="images/Vector 191.png" class="w-100" alt="" style="z-index: 5; position:relative">
          </div>
        </div>

        <div class="col-6 p-0">
            <div class="about-left-side-images left-side-images  position-relative">
              <img src="images/ممم 1.png">
              <img src="images/Ellipse 210.png">
              <img src="images/Ellipse 209.png">
              <img src="images/Ellipse 218.png">
              <img src="images/animal-products-cheese--Streamline-Ultimate.png">
              <img src="images/fast food.png">
              <img src="images/whisk.png">
              <img src="images/chef's hat 2.png">
              <img src="images/mortar.png">
              <img src="images/hat robe.png">
              <img src="images/cutlery 4.png">
              <img src="images/Knife-1--Streamline-Sharp.png">
              <img src="images/Vector 1420.png">
              <img src="images/Vector 4048.png">
              <img src="images/Vector 4047.png">
            </div>
          </div>    
        </div>
      </div>





<!-- ====================  NavBar  ========================= -->

<nav class="navbar navbar-expand-lg navbar-light navbar-custom">

<div class="menu-nav-container">
    <ul class="navbar-nav menu-items">
    <li  class="menu-items-list"><a [routerLink]="[]" fragment="menu-top-sales" class="nav-link">
        <i class="fa-solid fa-chart-line"></i>
        الأكثر مبيعا</a></li>
    <li class="menu-items-list"><a [routerLink]="[]" fragment="menu-pies" class="nav-link">
        <i class="fa-solid fa-pizza-slice"></i>
        الفطائر</a></li>
    <li class="menu-items-list"><a href="#menu-karak" class="nav-link">
        <i class="fas fa-mug-hot" style="transform: translate(0px, -20%);"></i>
        الكرك</a></li>
    <li class="menu-items-list"><a href="#menu-hot-drinks" class="nav-link">
        <i class="fa-solid fa-mug-saucer"></i>
        مشروبات ساخنة</a></li>
    <li class="menu-items-list"><a href="#menu-cold-drinks" class="nav-link">
        <i class="fa-solid fa-glass-water"></i>
        مشروبات باردة</a></li>
    <li class="menu-items-list"><a href="#menu-extras" class="nav-link">
        <i class="fa-solid fa-plus"></i>
        الاضافات</a></li>
</ul>
</div>


<!-- we have 2 search box, this is the first one,-->
<!--  please consider the second search box too  -->
<div class="search-box">
<input type="text" onfocus="this.value=''" id="product-search" placeholder="ابحث هنا" oninput="filterProducts()" autocomplete="off">
<button type="submit" id="search-button">
    <i class="fa fa-search"></i>
</button>
<div id="dropdown" class="dropdown-list"></div>
</div>

</nav>
<div class="food-menu-container">

<div class="menu-category-container">
<div class="menu-header-container">
<h2 id="menu-top-sales" class="text-end text-danger">
    <i class="fa-solid fa-chart-line"></i>
    الأكثر مبيعا

</h2>
<!-- second search box  -->
<div class="menu-search-container">
    <div class="search-box2" id="menu-search-box" style="height: 40px;">
        <input type="text" onfocus="this.value=''" id="product-search2" placeholder="ابحث هنا"  autocomplete="off">
        <button type="submit" id="search-button2">
            <i class="fa fa-search"></i>
        </button>
        <div id="dropdown2" class="dropdown-list"></div> 
    </div>
      
    <i class="fas fa-search" id="search-icon"></i>
  </div>
  
</div>




<div class="menu-container">

<div class="menu-box">
    <img src="images/Rectangle 4131.png" >
    <div class="menu-box-details">
        <div>
            <i class="fas fa-tag"></i>
            <span class="price">  10 ريال</span>
          </div>
        <div>
            <i class="fa-solid fa-fire"></i>
            <span class="calories">250</span>
             </div>
    </div>
    <h2>منتج  كيرى مع زعتر</h2>
    <p>فطيرة بجبنة كيرى مع زعتر</p>
</div>
<div class="menu-box">
    <img src="images/Rectangle 4130.png" >
    <div class="menu-box-details">
        <div>
            <i class="fas fa-tag"></i>
            <span class="price">  10 ريال</span>
          </div>
        <div>
            <i class="fa-solid fa-fire"></i>
            <span class="calories">250</span>
             </div>
    </div>
    <h2>منتج كيرى بدون زعتر</h2>
    <p>فطيرة بجبنة كيرى مع زعتر</p>
</div>
<div class="menu-box">
    <img src="images/Rectangle 4135.png" >
    <div class="menu-box-details">
        <div>
            <i class="fas fa-tag"></i>
            <span class="price">  10 ريال</span>
          </div>
        <div>
            <i class="fa-solid fa-fire"></i>
            <span class="calories">250</span>
             </div>
    </div>
    <h2>بجبنة كيرى مع زعتر</h2>
    <p>فطيرة بجبنة كيرى مع زعتر</p>
</div>
<div class="menu-box">
    <img src="images/Rectangle 419.png" >
    <div class="menu-box-details">
        <div>
            <i class="fas fa-tag"></i>
            <span class="price">  10 ريال</span>
          </div>
        <div>
            <i class="fa-solid fa-fire"></i>
            <span class="calories">250</span>
             </div>
    </div>
    <h2>بجبنة كيرى مع زعتر</h2>
    <p>فطيرة بجبنة كيرى مع زعتر</p>
</div>
<div class="menu-box">
    <img src="images/Rectangle 412.png" >
    <div class="menu-box-details">
        <div>
            <i class="fas fa-tag"></i>
            <span class="price">  10 ريال</span>
          </div>
        <div>
            <i class="fa-solid fa-fire"></i>
            <span class="calories">250</span>
             </div>
    </div>
    <h2>بجبنة كيرى مع زعتر</h2>
    <p>فطيرة بجبنة كيرى مع زعتر</p>
</div>
<div class="menu-box">
    <img src="images/Rectangle 4133.png" >
    <div class="menu-box-details">
        <div>
            <i class="fas fa-tag"></i>
            <span class="price">  10 ريال</span>
          </div>
        <div>
            <i class="fa-solid fa-fire"></i>
            <span class="calories">250</span>
             </div>
    </div>
    <h2>بجبنة كيرى مع زعتر</h2>
    <p>فطيرة بجبنة كيرى مع زعتر</p>
</div>
<div class="menu-box">
    <img src="images/Rectangle 4.png" >
    <div class="menu-box-details">
        <div>
            <i class="fas fa-tag"></i>
            <span class="price">  10 ريال</span>
          </div>
        <div>
            <i class="fa-solid fa-fire"></i>
            <span class="calories">250</span>
             </div>
    </div>
    <h2>بجبنة كيرى مع زعتر</h2>
    <p>فطيرة بجبنة كيرى مع زعتر</p>
</div>
<div class="menu-box">
    <img src="images/Rectangle 41.png" >
    <div class="menu-box-details">
        <div>
            <i class="fas fa-tag"></i>
            <span class="price">  10 ريال</span>
          </div>
        <div>
            <i class="fa-solid fa-fire"></i>
            <span class="calories">250</span>
             </div>
    </div>
    <h2>بجبنة كيرى مع زعتر</h2>
    <p>فطيرة بجبنة كيرى مع زعتر</p>
</div>


</div>
<div class="menu-container">

<div class="menu-box">
    <img src="images/Rectangle 4131.png" >
    <div class="menu-box-details">
        <div>
            <i class="fas fa-tag"></i>
            <span class="price">  10 ريال</span>
          </div>
        <div>
            <i class="fa-solid fa-fire"></i>
            <span class="calories">250</span>
             </div>
    </div>
    <h2>بجبنة كيرى مع زعتر</h2>
    <p>فطيرة بجبنة كيرى مع زعتر</p>
</div>
<div class="menu-box">
    <img src="images/Rectangle 4130.png" >
    <div class="menu-box-details">
        <div>
            <i class="fas fa-tag"></i>
            <span class="price">  10 ريال</span>
          </div>
        <div>
            <i class="fa-solid fa-fire"></i>
            <span class="calories">250</span>
             </div>
    </div>
    <h2>بجبنة كيرى مع زعتر</h2>
    <p>فطيرة بجبنة كيرى مع زعتر</p>
</div>
<div class="menu-box">
    <img src="images/Rectangle 4135.png" >
    <div class="menu-box-details">
        <div>
            <i class="fas fa-tag"></i>
            <span class="price">  10 ريال</span>
          </div>
        <div>
            <i class="fa-solid fa-fire"></i>
            <span class="calories">250</span>
             </div>
    </div>
    <h2>بجبنة كيرى مع زعتر</h2>
    <p>فطيرة بجبنة كيرى مع زعتر</p>
</div>
<div class="menu-box">
    <img src="images/Rectangle 419.png" >
    <div class="menu-box-details">
        <div>
            <i class="fas fa-tag"></i>
            <span class="price">  10 ريال</span>
          </div>
        <div>
            <i class="fa-solid fa-fire"></i>
            <span class="calories">250</span>
             </div>
    </div>
    <h2>بجبنة كيرى مع زعتر</h2>
    <p>فطيرة بجبنة كيرى مع زعتر</p>
</div>
<div class="menu-box">
    <img src="images/Rectangle 412.png" >
    <div class="menu-box-details">
        <div>
            <i class="fas fa-tag"></i>
            <span class="price">  10 ريال</span>
          </div>
        <div>
            <i class="fa-solid fa-fire"></i>
            <span class="calories">250</span>
             </div>
    </div>
    <h2>بجبنة كيرى مع زعتر</h2>
    <p>فطيرة بجبنة كيرى مع زعتر</p>
</div>
<div class="menu-box">
    <img src="images/Rectangle 4133.png" >
    <div class="menu-box-details">
        <div>
            <i class="fas fa-tag"></i>
            <span class="price">  10 ريال</span>
          </div>
        <div>
            <i class="fa-solid fa-fire"></i>
            <span class="calories">250</span>
             </div>
    </div>
    <h2>بجبنة كيرى مع زعتر</h2>
    <p>فطيرة بجبنة كيرى مع زعتر</p>
</div>
<div class="menu-box">
    <img src="images/Rectangle 4.png" >
    <div class="menu-box-details">
        <div>
            <i class="fas fa-tag"></i>
            <span class="price">  10 ريال</span>
          </div>
        <div>
            <i class="fa-solid fa-fire"></i>
            <span class="calories">250</span>
             </div>
    </div>
    <h2>بجبنة كيرى مع زعتر</h2>
    <p>فطيرة بجبنة كيرى مع زعتر</p>
</div>
<div class="menu-box">
    <img src="images/Rectangle 41.png" >
    <div class="menu-box-details">
        <div>
            <i class="fas fa-tag"></i>
            <span class="price">  10 ريال</span>
          </div>
        <div>
            <i class="fa-solid fa-fire"></i>
            <span class="calories">250</span>
             </div>
    </div>
    <h2>بجبنة كيرى مع زعتر</h2>
    <p>فطيرة بجبنة كيرى مع زعتر</p>
</div>


</div>



<div class="menu-category-container">

<div class="menu-header-container">
<h2 id="menu-pies" class="text-end text-danger">
    <i class="fa-solid fa-pizza-slice"></i>
    الفطائر</h2>
</div>


<div class="menu-container">

    <div class="menu-box">
        <img src="images/Rectangle 4131.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>
    <div class="menu-box">
        <img src="images/Rectangle 4130.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>
    <div class="menu-box">
        <img src="images/Rectangle 4135.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>
    <div class="menu-box">
        <img src="images/Rectangle 419.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>
    <div class="menu-box">
        <img src="images/Rectangle 412.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>
    <div class="menu-box">
        <img src="images/Rectangle 4133.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>
    <div class="menu-box">
        <img src="images/Rectangle 4.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>
    <div class="menu-box">
        <img src="images/Rectangle 41.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>


</div>


</div>

<div class="menu-category-container">
<div class="menu-header-container">
<h2 id="menu-karak" class="text-end text-danger">
    <img src="images/Cup of tea 2.png" width="25px">
    الكرك</h2>
</div>




<div class="menu-container">

    <div class="menu-box">
        <img src="images/Rectangle 4131.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>
    <div class="menu-box">
        <img src="images/Rectangle 4130.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>
    <div class="menu-box">
        <img src="images/Rectangle 4135.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>
    <div class="menu-box">
        <img src="images/Rectangle 419.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>
    <div class="menu-box">
        <img src="images/Rectangle 412.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>
    <div class="menu-box">
        <img src="images/Rectangle 4133.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>
    <div class="menu-box">
        <img src="images/Rectangle 4.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>
    <div class="menu-box">
        <img src="images/Rectangle 41.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>


</div>

</div>


<div class="menu-category-container">
<div class="menu-header-container">
    <h2 id="menu-hot-drinks" class="text-end text-danger">
        <i class="fa-solid fa-mug-saucer"></i>
        مشروبات ساخنة</h2>
</div>
<div class="menu-container">

    <div class="menu-box">
        <img src="images/Rectangle 4131.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>
    <div class="menu-box">
        <img src="images/Rectangle 4130.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>
    <div class="menu-box">
        <img src="images/Rectangle 4135.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>
    <div class="menu-box">
        <img src="images/Rectangle 419.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>
    <div class="menu-box">
        <img src="images/Rectangle 412.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>
    <div class="menu-box">
        <img src="images/Rectangle 4133.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>
    <div class="menu-box">
        <img src="images/Rectangle 4.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>
    <div class="menu-box">
        <img src="images/Rectangle 41.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>


</div>

</div>

<div class="menu-category-container">
<div class="menu-header-container">
    <h2 id="menu-cold-drinks" class="text-end text-danger">
        <i class="fa-solid fa-glass-water"></i>
        مشروبات باردة</h2>
</div>

<div class="menu-container">

    <div class="menu-box">
        <img src="images/Rectangle 4131.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>
    <div class="menu-box">
        <img src="images/Rectangle 4130.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>
    <div class="menu-box">
        <img src="images/Rectangle 4135.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>
    <div class="menu-box">
        <img src="images/Rectangle 419.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>
    <div class="menu-box">
        <img src="images/Rectangle 412.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>
    <div class="menu-box">
        <img src="images/Rectangle 4133.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>
    <div class="menu-box">
        <img src="images/Rectangle 4.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>
    <div class="menu-box">
        <img src="images/Rectangle 41.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>


</div>


</div>


<div class="menu-category-container">
<div class="menu-header-container">
    <h2 id="menu-extras" class="text-end text-danger">
        <i class="fa-solid fa-plus"></i>
        الاضافات</h2>
</div>

<div class="menu-container">

    <div class="menu-box">
        <img src="images/Rectangle 4131.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>
    <div class="menu-box">
        <img src="images/Rectangle 4130.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>
    <div class="menu-box">
        <img src="images/Rectangle 4135.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>
    <div class="menu-box">
        <img src="images/Rectangle 419.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>
    <div class="menu-box">
        <img src="images/Rectangle 412.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>
    <div class="menu-box">
        <img src="images/Rectangle 4133.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>
    <div class="menu-box">
        <img src="images/Rectangle 4.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>
    <div class="menu-box">
        <img src="images/Rectangle 41.png" >
        <div class="menu-box-details">
            <div>
                <i class="fas fa-tag"></i>
                <span class="price">  10 ريال</span>
              </div>
            <div>
                <i class="fa-solid fa-fire"></i>
                <span class="calories">250</span>
                 </div>
        </div>
        <h2>بجبنة كيرى مع زعتر</h2>
        <p>فطيرة بجبنة كيرى مع زعتر</p>
    </div>


</div>

</div>

</div>
</div>



    <!-- Footer -->
     
   
    <footer>
        <div class="container d-flex position-relative p-3 flex-wrap footer">
            <div class="d-flex align-items-end footer-right">
            <a href="./privacy.html">
                <span class="footer-policy">سياسة الخصوصية </span>
            </a>
            <a href="./terms.html">
                <span>شروط الاستخدام</span>
            </a>
            </div>
            <div class="d-flex flex-column footer-center align-items-center justify-content-start">
                <a href="./index.html" class="logo d-flex justify-content-center align-items-center">
                    <img src="images/kas karak logo.png" height="130px" alt="logo">
                </a>
                <span>جميع الحقوق محفوظة لموقع كاس كرك 2024</span>
            </div>
            <div class="d-flex align-items-center flex-column footer-left justify-content-end">
                <div class="footer-icons mb-4">
                    <a href="">
                        <img src="images/فيس بوك.png" width="18px">
                    </a>
                    <a href="">
                        <img src="images/تويتر.png" width="25px">
                    </a>
                    <a href="">
                        <img src="images/انستجرام.png" width="25px">
                    </a>
                    <a href="">
                        <img src="images/تيك توك.png" width="25px">
                    </a>
                    <a href="">
                        <img src="images/سناب شات.png" width="25px">
                    </a>
                </div>
                <a href="" class="d-flex flex-column align-items-center">
                    <span>
                    <img src="images/لوكيشن.png" width="30px">
                    فرع كاس كرك
                    </span>
                    <span class="footer-address">العنوان: جدة شارع الأربعين</span>
                </a>
            </div>

        </div>
        </footer>
        <button class="back-to-top" id="backToTopBtn"></button>
