
<header class="header container-fluid">
    <div class="d-flex justify-content-between align-items-center header-container" style="margin: auto;">
        <div class="header-left-side justify-content-between d-flex">
            <a href="./index.html">
                <img src="images/kas karak logo.png" class="header-logo" height="140px" alt="logo">
            </a>
            <nav class="temp3 align-items-center mx-4 header-nav-container">
                <div class="container temp2 align-items-center">
                    <!-- note that there's a ul for the sidBar too -->
                    <ul class="header-nav flex-nowrap temp1">
                        <a routerLink="/main">
                            <li>
                                <img src="images/Home_light -.png" width="22px">
                                    الرئيسية
                            </li>
                        </a>
                        <a routerLink="/menu">
                            <li>
                                <img src="images/notebook_light.png" width="22px">
                                قائمة الطعام
                            </li>
                        </a>
                        <a routerLink="/branches">
                            <li>
                                <img src="images/Pin_alt_light.png" width="22px">
                                الفروع
                            </li>
                        </a>
                        <a routerLink="/contact">
                            <li >
                                <img src="images/Phone_light.png" width="22px">
                                تواصل معنا
                            </li>
                        </a>
                        <a routerLink="/worktime">
                            <li >
                                <img src="images/Clock_light.png" width="22px">
                                مواعيد العمل
                            </li>
                        </a>
                        <a routerLink="/about">
                            <li class="active">
                                <img src="images/info_light.png" width="22px">
                                لوحة التحكم
                            </li>
                        </a>

                    </ul>
                </div>
            </nav>
        </div>
        <div style="text-align: center;" class="contact-number">
            <div>
                <img src="images/Component.png" width="25px">
                <span style="font-weight: bolder;">للحجز المسبق</span>
            </div>
            <a href="tel:8123999950">8123999950</a>
        </div>
        <button class="menu-toggle" onclick="toggleSidebar()"><i class="fa-solid fa-bars"></i></button>
    </div>
</header>

<!-- SideBar -->

<div class="sidebar">
<div class="d-flex flex-row-reverse justify-content-between mb-3">
    <button type="button" class="btn-close" aria-label="Close" onclick="toggleSidebar()"></button>
</div>
<div class="w-100 d-flex justify-content-center">
    <a href="./index.html" class="logo d-flex justify-content-center align-items-center">
        <img src="images/kas karak logo.png" height="180px" alt="logo">
    </a>        
</div>
<ul class="mt-3">
    <a routerLink="/main" class=" test">
    <li>
        <i class="fas fa-home"></i>
        الرئيسية
        </li>
    </a >
    <a routerLink="/menu" class=" test">
    <li>
        <i class="fas fa-utensils"></i>
        قائمة الطعام
    </li>
    </a>
    <a routerLink="/branches" class=" test">
    <li>
        <i class="fas fa-map-marker-alt"></i>
        الفروع
    </li>
    </a>
    <a routerLink="/contact" class=" test">
    <li>
        <i class="fa-solid fa-mobile-screen-button"></i>
        تواصل معنا
    </li>
    </a>
    <a routerLink="/worktime" class=" test">
    <li>
        <i class="fas fa-clock"></i>
        مواعيد العمل
    </li>
    </a>
    <a routerLink="/about" class=" test">
    <li class="active">
        <i class="fas fa-info-circle"></i>
        لوحة التحكم
    </li>
    </a>
</ul>
</div>



    


            <div class="container-fluid p-0" style="transform: translateY(20px);">
              <div class="row d-flex images-main-container">
                
                  <div class="col-6 p-0">
                    <div class="right-side-content">
                         <div class="right-side-content-centered-text">
                             <i class="fas fa-info-circle"></i>
                            <h2 class="d-inline">        لوحة التحكم                            </h2>
                        </div>
                      <img src="images/Vector 191.png" class="w-100" alt="" style="z-index: 5; position:relative">
                    </div>
                  </div>
                  <div class="col-6 p-0">
                    <div class="about-left-side-images left-side-images  position-relative">
                      <img src="images/ممم 1.png">
                      <img src="images/Ellipse 210.png">
                      <img src="images/Ellipse 209.png">
                      <img src="images/Ellipse 218.png">
                      <img src="images/animal-products-cheese--Streamline-Ultimate.png">
                      <img src="images/fast food.png">
                      <img src="images/whisk.png">
                      <img src="images/chef's hat 2.png">
                      <img src="images/mortar.png">
                      <img src="images/hat robe.png">
                      <img src="images/cutlery 4.png">
                      <img src="images/Knife-1--Streamline-Sharp.png">
                      <img src="images/Vector 1420.png">
                      <img src="images/Vector 4048.png">
                      <img src="images/Vector 4047.png">
                    </div>
                  </div>    
                </div>
              </div>
              <h2 class="dashboard d-flex justify-content-center mt-5">لوحة التحكم</h2>
              <nav class="dashboard-navbar">
                <ul class="dashboard-nav-links" id="navLinks">
                  <li><a onclick="showEverything()"> عرض جميع التعديلات</a></li>
                    <li><a onclick="showaddProducts()">المنتجات</a></li>
                    <li><a onclick="showContactInfo()">معلومات التواصل</a></li>
                    <li><a onclick="showWorkTime()">مواعيد العمل</a></li>
                </ul>
            </nav>
              <div class="container my-5" id="dashboard-landing">
                <!-- <h2>صور صفحة ال (Landing Page )</h2>
                <form #landingImageForm="ngForm" (ngSubmit)="addLandingImages()">
                    <div class="form-group">
                      <label for="landingImage1">Landing Image 1:</label>
                      <input 
                        type="text" 
                        class="form-control" 
                        id="landingImage1" 
                        [(ngModel)]="landingImagesArray[0]" 
                        name="landingImage1" 
                        required>
                    </div>
                  
                    <div class="form-group">
                      <label for="landingImage2">Landing Image 2:</label>
                      <input 
                        type="text" 
                        class="form-control" 
                        id="landingImage2" 
                        [(ngModel)]="landingImagesArray[1]" 
                        name="landingImage2" 
                        required>
                    </div>
                  
                    <div class="form-group">
                      <label for="landingImage3">Landing Image 3:</label>
                      <input 
                        type="text" 
                        class="form-control" 
                        id="landingImage3" 
                        [(ngModel)]="landingImagesArray[2]" 
                        name="landingImage3" 
                        required>
                    </div>
                  
                    <div class="form-group">
                      <label for="landingImage4">Landing Image 4:</label>
                      <input 
                        type="text" 
                        class="form-control" 
                        id="landingImage4" 
                        [(ngModel)]="landingImagesArray[3]" 
                        name="landingImage4" 
                        required>
                    </div>
                    
                    <div class="form-group">
                      <label for="landingImage5">Landing Image 5:</label>
                      <input 
                        type="text" 
                        class="form-control" 
                        id="landingImage5" 
                        [(ngModel)]="landingImagesArray[4]" 
                        name="landingImage5" 
                        required>
                    </div>
                    <button type="submit" class="btn mybutton1">اضافة الصور</button>
                    <button (click)="deleteAllLandingImages()" type="button" class="btn mybutton1 redbutton">مسح جميع الصور</button>
                </form> -->
                </div>
                <!-- Landing Page Images -->
                  <!-- <div class="form-group">
                    <label for="calories">Calories:</label>
                    <input type="number" class="form-control" id="calories" [(ngModel)]="productCalories" name="calories" required>
                  </div> -->
                  
                  <!-- Main Products -->
                  
                  <div class="container my-5 text-content-page" id="dashboard-addProducts">
                    <h2>إضافة المنتجات</h2>
                    <form #productForm="ngForm" (ngSubmit)="addProduct()">
                        <div class="form-group">
                          <label for="name">الاسم:</label>
                          <input type="text" class="form-control" id="name" [(ngModel)]= "newProduct.name" name="name" required>
                        </div>
                        
                        <div class="form-group">
                          <label for="image">الصورة:</label>
                          <input type="file" class="form-control" id="image" (change)= "onImageSelected1($event)" >
                        </div>
                      
                        <img *ngIf= "newProduct.src" [src]= "newProduct.src" alt="Uploaded Image Preview" style="max-width: 200px; margin-top: 10px;">
                      
                        <div class="form-group">
                          <label for="price">السعر:</label>
                          <input type="number" class="form-control" id="price" [(ngModel)]= "newProduct.price" name="price" required>
                        </div>
                        
                        <div class="form-group">
                          <label for="calories">السعرات الحرارية:</label>
                          <input type="number" class="form-control" id="calories" [(ngModel)]= "newProduct.calories" name="calories" required>
                        </div>
                        
                        <button type="submit" class="btn mybutton1">إضافة منتج</button>
                      </form>
                      <div *ngIf="selectedProduct" style="margin-bottom:50px;">
                        <h2>تعديل منتج</h2>
                        <form (ngSubmit)="updateProduct()">
                            <div class="form-group">
                                <label for="name">الاسم:</label>
                                <input type="text" class="form-control" id="name" [(ngModel)]= "selectedProduct.name" name="name" required>
                              </div>
                            <div class="form-group">
                                <label for="image">الصورة:</label>
                                <input type="file" class="form-control" id="image" (change)= "onImageSelected($event)" >
                            </div>
                          <img *ngIf= "selectedProduct.src" class="d-flex justify-content-center" style="border-radius:50%" [src]= "selectedProduct.src" alt="Product Image" width="200px" height="200px" class="img-preview" />
                          <div class="form-group">
                            <label for="price">السعر:</label>
                            <input type="number" class="form-control" id="price" [(ngModel)]= "selectedProduct.price" name="price" required>
                          </div>                          <div class="form-group">
                            <label for="calories">السعرات الحرارية:</label>
                            <input type="number" class="form-control" [(ngModel)]= "selectedProduct.calories" name="calories">
                          </div>
                          <button type="submit" class="btn mybutton1">Save Changes</button>
                        </form>
                      </div>
                      <div class="m-5 products-container" id="products-list">
                        <h2 style="font-weight: bold;">قائمة المنتجات</h2>
                        <div class="products-items main-page">
                
                            <div class="products-item" *ngFor="let product of products">
                                <img [src] = "product.src" class="product-image" alt="Product Image">
                                <h5 class="mt-2">{{product.name}}</h5>
                                <p>{{product.price}} ريال</p>
                                <span>
                                    <i class="fa-solid fa-fire"></i>
                                    {{product.calories}}
                                </span>
                                <button (click)="deleteProduct(product._id)" class="btn mybutton1">Delete</button>
                                <button (click)="selectProduct(product)" class="btn mybutton1">Edit</button>
                            </div>
                        </div>
                    </div>
                  </div>
                  <form class="container my-5 text-content-page" id="dashboard-contacts">
                      <h2>معلومات التواصل  </h2>
                    <div class="form-group">
                      <label for="phone">الهاتف</label>
                      <input class="form-control" id="phone" type="text" [(ngModel)]="phone" name="phone">
                    </div>
                    <div class="form-group">
                      <label for="email">الايميل:</label>
                      <input class="form-control" id="email" type="text" [(ngModel)]="email" name="email">
                    </div>
                    <button class="btn mybutton1" (click)="updateContactDetails()">تحديث البيانات</button>
                  </form>


                  <form class="container my-5 text-content-page" id="dashboard-worktime">
                      <h2>مواقيت العمل </h2>
                    <div class="form-group">
                      <label for="worktime1">أيام العمل</label>
                      <input class="form-control" id="worktime1" type="text" [(ngModel)] = "worktime1" name="workdays">
                    </div>
                    <div class="form-group">
                      <label for="worktime2">الاجازات</label>
                      <input class="form-control" id="worktime2" type="text" [(ngModel)] = "worktime2" name="worktime2">
                    </div>
                    <button class="btn mybutton1" (click)="updateWorkTime()">تحديث البيانات</button>
                  </form>
                  





              
        


        <!-- Footer -->
         
        
             <footer>
            <div class="container d-flex justify-content-between position-relative p-3 flex-wrap footer">
                <div class="d-flex align-items-end footer-right">
                <a href="./privacy.html">
                    <span class="footer-policy">سياسة الخصوصية </span>
                </a>
                <a href="./terms.html">
                    <span>شروط الاستخدام</span>
                </a>
                </div>
                <div class="d-flex flex-column footer-center align-items-center justify-content-start">
                    <a href="./index.html" class="logo d-flex justify-content-center align-items-center">
                        <img src="images/kas karak logo.png" height="130px" alt="logo">
                    </a>
                    <span>جميع الحقوق محفوظة لموقع كاس كرك 2024</span>
                </div>
                <div class="d-flex align-items-center flex-column footer-left justify-content-end">
                    <div class="footer-icons mb-4">
                        <a href="">
                            <img src="images/فيس بوك.png" width="18px">
                        </a>
                        <a href="">
                            <img src="images/تويتر.png" width="25px">
                        </a>
                        <a href="">
                            <img src="images/انستجرام.png" width="25px">
                        </a>
                        <a href="">
                            <img src="images/تيك توك.png" width="25px">
                        </a>
                        <a href="">
                            <img src="images/سناب شات.png" width="25px">
                        </a>
                    </div>
                    <a href="" class="d-flex flex-column align-items-center">
                        <span>
                        <img src="images/لوكيشن.png" width="30px">
                        فرع كاس كرك
                        </span>
                        <span class="footer-address">العنوان: جدة شارع الأربعين</span>
                    </a>
                </div>
    
            </div>
            </footer> 
        
    <!-- Back to Top Button -->
    <!-- <button class="back-to-top" id="backToTopBtn"></button> -->
