
<header class="header container-fluid">
    <div class="d-flex justify-content-between align-items-center header-container" style="margin: auto;">
        <div class="header-left-side justify-content-between d-flex">
            <a href="./index.html">
                <img src="images/kas karak logo.png" class="header-logo" height="140px" alt="logo">
            </a>
            <nav class="temp3 align-items-center mx-4 header-nav-container">
                <div class="container temp2 align-items-center">
                    <!-- note that there's a ul for the sidBar too -->
                    <ul class="header-nav flex-nowrap temp1">
                        <a routerLink="/main">
                            <li>
                                <img src="images/Home_light -.png" width="22px">
                                    الرئيسية
                            </li>
                        </a>
                        <a routerLink="/menu">
                            <li>
                                <img src="images/notebook_light.png" width="22px">
                                قائمة الطعام
                            </li>
                        </a>
                        <a routerLink="/branches">
                            <li>
                                <img src="images/Pin_alt_light.png" width="22px">
                                الفروع
                            </li>
                        </a>
                        <a routerLink="/contact">
                            <li class="active">
                                <img src="images/Phone_light.png" width="22px">
                                تواصل معنا
                            </li>
                        </a>
                        <a routerLink="/worktime">
                            <li >
                                <img src="images/Clock_light.png" width="22px">
                                مواعيد العمل
                            </li>
                        </a>
                        <a routerLink="/about">
                            <li>
                                <img src="images/info_light.png" width="22px">
                                لوحة التحكم
                            </li>
                        </a>

                    </ul>
                </div>
            </nav>
        </div>
        <div style="text-align: center;" class="contact-number">
            <div>
                <img src="images/Component.png" width="25px">
                <span style="font-weight: bolder;">للحجز المسبق</span>
            </div>
            <a href="tel:8123999950">8123999950</a>
        </div>
        <button class="menu-toggle" onclick="toggleSidebar()"><i class="fa-solid fa-bars"></i></button>
    </div>
</header>

<!-- SideBar -->

<div class="sidebar">
<div class="d-flex flex-row-reverse justify-content-between mb-3">
    <button type="button" class="btn-close" aria-label="Close" onclick="toggleSidebar()"></button>
</div>
<div class="w-100 d-flex justify-content-center">
    <a href="./index.html" class="logo d-flex justify-content-center align-items-center">
        <img src="images/kas karak logo.png" height="180px" alt="logo">
    </a>        
</div>
<ul class="mt-3">
    <a routerLink="/main" class=" test">
    <li>
        <i class="fas fa-home"></i>
        الرئيسية
        </li>
    </a >
    <a routerLink="/menu" class=" test">
    <li>
        <i class="fas fa-utensils"></i>
        قائمة الطعام
    </li>
    </a>
    <a routerLink="/branches" class=" test">
    <li>
        <i class="fas fa-map-marker-alt"></i>
        الفروع
    </li>
    </a>
    <a routerLink="/contact" class=" test">
    <li class="active">
        <i class="fa-solid fa-mobile-screen-button"></i>
        تواصل معنا
    </li>
    </a>
    <a routerLink="/worktime" class=" test">
    <li>
        <i class="fas fa-clock"></i>
        مواعيد العمل
    </li>
    </a>
    <a routerLink="/about" class=" test">
    <li>
        <i class="fas fa-info-circle"></i>
        لوحة التحكم
    </li>
    </a>
</ul>
</div>


    <!-- Landing Page -->


    <div class="container-fluid p-0" style="transform: translateY(20px);">
        <div class="row d-flex images-main-container">
          
            <div class="col-6 p-0">
              <div class="right-side-content">
                   <div class="right-side-content-centered-text">
                    <i class="fa-solid fa-phone"></i>
                    <h2 class="d-inline">تواصل معنا</h2>
                  </div>
                <img src="images/Vector 191.png" class="w-100" alt="" style="z-index: 5; position:relative">
              </div>
            </div>

            <div class="col-6 p-0">
                <div class="about-left-side-images left-side-images  position-relative">
                  <img src="images/ممم 1.png">
                  <img src="images/Ellipse 210.png">
                  <img src="images/Ellipse 209.png">
                  <img src="images/Ellipse 218.png">
                  <img src="images/animal-products-cheese--Streamline-Ultimate.png">
                  <img src="images/fast food.png">
                  <img src="images/whisk.png">
                  <img src="images/chef's hat 2.png">
                  <img src="images/mortar.png">
                  <img src="images/hat robe.png">
                  <img src="images/cutlery 4.png">
                  <img src="images/Knife-1--Streamline-Sharp.png">
                  <img src="images/Vector 1420.png">
                  <img src="images/Vector 4048.png">
                  <img src="images/Vector 4047.png">
                </div>
              </div>    
            </div>
          </div>



    <!-- branches -->
    <div class="contact-container">
            <div class="contact-box">
                <h2>للتواصل مع كاس كرك قم بتعبئة النموذج التالي</h2>
                <form class="px-2">
                    <div class="form-group">
                        <input type="text" placeholder="الاسم كامل" class="input-field">
                        <input type="tel" placeholder="رقم الجوال" class="input-field">
                    </div>
                    <input type="email" placeholder="البريد الإلكتروني" class="input-field">
                    <textarea placeholder="رسالتك" class="input-field"></textarea>
                    <button type="submit" class="submit-btn btn-danger">ارسل</button>
                    <p class="text-danger my-2 text-center">
                        تم التسجيل بنجاح
                        <i class="fas fa-check"></i>
                    </p>
                </form>
            </div>
            <div class="contact-box">
                <h2 class="contact-title">او تواصل معنا عبر الاتصال المباشر</h2>
                
                <div class="contact-item contact-item-phone">
                    <a href="tel:1234567890" class="contact-info">{{ phone }}</a>
                    <i class="fa-solid fa-mobile-screen-button text-danger"></i>                    </div>
              
                <h2 class="contact-title">ومن خلال الايميل</h2>
                
                <div class="contact-item contact-item-email">
                    <a href="mailto:zxcv@jhjkk.com" class="contact-info contact-info-email">{{email}}</a>
                    <img src="images/mail-03.png" alt="Email" class="icon">
                </div>
              
                <div class="social-links">
                    <a href="#" class="social-icon"><img src="images/فيس بوك.png" alt="Facebook"></a>
                    <a href="#" class="social-icon"><img src="images/تويتر.png" alt="X"></a>
                    <a href="#" class="social-icon"><img src="images/انستجرام.png" alt="Instagram"></a>
                    <a href="#" class="social-icon"><img src="images/تيك توك.png" alt="TikTok"></a>
                    <a href="#" class="social-icon"><img src="images/سناب شات.png" alt="Snapchat"></a>
                </div>
              </div>
              
    </div>

    <!-- Footer -->
     

    <footer>
        <div class="container d-flex justify-content-between position-relative p-3 flex-wrap footer">
            <div class="d-flex align-items-end footer-right">
            <a href="./privacy.html">
                <span class="footer-policy">سياسة الخصوصية </span>
            </a>
            <a href="./terms.html">
                <span>شروط الاستخدام</span>
            </a>
            </div>
            <div class="d-flex flex-column footer-center align-items-center justify-content-start">
                <a href="./index.html" class="logo d-flex justify-content-center align-items-center">
                    <img src="images/kas karak logo.png" height="130px" alt="logo">
                </a>
                <span>جميع الحقوق محفوظة لموقع كاس كرك 2024</span>
            </div>
            <div class="d-flex align-items-center flex-column footer-left justify-content-end">
                <div class="footer-icons mb-4">
                    <a href="">
                        <img src="images/فيس بوك.png" width="18px">
                    </a>
                    <a href="">
                        <img src="images/تويتر.png" width="25px">
                    </a>
                    <a href="">
                        <img src="images/انستجرام.png" width="25px">
                    </a>
                    <a href="">
                        <img src="images/تيك توك.png" width="25px">
                    </a>
                    <a href="">
                        <img src="images/سناب شات.png" width="25px">
                    </a>
                </div>
                <a href="" class="d-flex flex-column align-items-center">
                    <span>
                    <img src="images/لوكيشن.png" width="30px">
                    فرع كاس كرك
                    </span>
                    <span class="footer-address">العنوان: جدة شارع الأربعين</span>
                </a>
            </div>

        </div>
        </footer>